@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 255, 255, 255;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
	--background-rgb: 0, 94, 238;
	--color-primary: 0, 94, 238;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

@keyframes slideIn {
	0% {
		transform: translateX(100%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideOut {
	0% {
		transform: translateX(100%);
		opacity: 1;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

/* Apply the animation to the slide-in-element class */
.slide-in-element {
	animation: slideIn 1s ease-in-out;
}

.slide-out-element {
	animation: slideIn 1s ease-in-out;
}
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div {
	font-family: Avenir;
}

.home {
	background: url("../public/assets/landing-background.svg") no-repeat;
	height: 100svh;
	@apply flex flex-col justify-center items-center;
	position: relative;
}

.signup {
	background: url("../public/assets/signup-background.svg") no-repeat;
	height: 100svh;
	/* @apply flex flex-col justify-center items-center ; */
}

.profile {
	/* background: url("../public/assets/profile-background.svg") no-repeat; */
	height: 100svh;
}

.camera {
	background: url("../public/assets/camera-background.png") no-repeat;
	height: 100svh;
	background-position: center;
	box-shadow: 0px 17.08475px 19.52542px 0px rgba(0, 0, 0, 0.1);
	background-size: 100svh;
	/* flex-shrink: 0; */
}
.cameraBlur {
	background: url("../public/assets/camera-background-blur.png"),
		lightgray 50% / cover no-repeat;
	height: 100svh;
	/* background-position: center; */
	/* box-shadow: 0px 17.08475px 19.52542px 0px rgba(0, 0, 0, 0.10); */
	background-size: 100svh;
	/* flex-shrink: 0; */
}
.subtract {
	background: gray no-repeat;
	height: 100svh;
	/* background-position: center; */
	/* box-shadow: 0px 17.08475px 19.52542px 0px rgba(0, 0, 0, 0.10); */
	/* background-size: 100svh;   */
	/* flex-shrink: 0; */
}

.subtractSvg {
	background: url("../public/assets/camera-background-1.svg") no-repeat;
	height: 100svh;
}

/* .reset-blend-mode {
  mix-blend-mode: normal !important;
} */

body {
	color: rgb(var(--foreground-rgb));
	background: rgb(var(--background-rgb));
}

.goal-indicator {
	width: 241px;
	height: 40px;

	display: flex;
	gap: 0.5rem;
}

.goal-indicator h1 {
	font-size: 15.042px;
	font-style: normal;
	font-weight: 600;
	line-height: 120%;
	border-radius: 40.27px;
	color: #005eee;
	padding: 10.068px 13.112px 10px 13.112px;

	background: #feec9a;
}

.slider {
	max-width: 1200px;
	margin: 0 auto;
	background: red;
}
.slick-list {
	padding-left: 0px !important;
}

.top-section {
	width: 100%;
}

.bottom-section {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	padding: 0.5rem;
}

.top-section .light-icon {
	width: 40px;
	height: 40px;
	flex-shrink: 0;
	border-radius: 56.094px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #feec9a;
}
.top-section .light-icon:after {
	display: block;
	content: "";
	background: url("../public/assets/light-icon.svg") no-repeat;
	width: 22px;
	height: 24px;
}

.top-section .heart-icon {
	width: 27px;
	height: 24px;
	background: url("../public/assets/heart-icon.svg") no-repeat;
}
.top-section .heart-icon.active {
	width: 27px;
	height: 24px;
	background: url("../public/assets/heart-icon-active.svg") no-repeat;
}

.product-title {
	color: #005eee;

	font-family: Avenir;
	font-size: 24px;
	font-style: normal;
	font-weight: 800;
	line-height: 120%;
}

.product-description {
	color: #000;

	font-family: Avenir;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 180%;
}

.product-buyNow {
	display: flex;
	width: 44px;
	height: 44px;
	padding: 9.37px 12.203px;
	align-items: center;
	gap: 4.881px;
	flex-shrink: 0;
	border-radius: 37.481px;
	background: #005eee;
}
.product-buyNow:after {
	display: block;
	content: "";
	background: url("../public/assets/cart-outline.svg") no-repeat;
	width: 22px;
	height: 24px;
}

.product-card-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 390px;
	border-radius: 40px;
	background: #fff;
	gap: 1rem;
	padding: 0.5rem;
}

.product-price {
	color: #005eee;

	font-size: 24px;
	font-style: normal;
	font-weight: 900;
	line-height: 120%;
}

.buynow-wrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
}
.product-card-wrapper.font-small .buynow-wrapper {
	display: flex;
	justify-content: space-between;
	width: 70%;
	align-items: center;
}

.offset-icon {
	background: #f652c5;
	width: 76px;
	height: 76px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.offset-icon:after {
	display: block;
	content: "";
	background: url("../public/assets/cycle-icon.svg") no-repeat;
	width: 65px;
	height: 65px;
}

.offset-title {
	color: #ed1a98;

	text-align: center;
	font-size: 18px;
	font-style: normal;
	font-weight: 800;
	line-height: 120%;
}

.offset-card-wrapper {
	border-radius: 40px;
	border: 1px solid #d9d9d9;
	width: 296px;
	background: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	padding: 0.5rem;
}
.swiper-wrapper {
	display: flex !important;
}

.swiper-slide {
	display: flex !important;
	flex: 0 0 100%;
} /* 

.swiper-slide .offset-card-wrapper {
	width: 60%;
}

.custom-slider .swiper-slide > div {
	margin: 0 10px !important; 
	flex: 0 0 calc(50% - 10px) !important; 
	transform-origin: center !important;
	transform: scale(1) !important;
	transition: transform 0.5s !important;
}

.custom-slider .swiper-slide.swiper-slide-next {
	transform: scale(
		1.4,
		1
	) !important; 
} */

.offset-card-wrapper a {
	border-radius: 68px;
	border: 1px solid #005eee;
	background: #005eee;
	width: 191px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15) inset;
}

.result-page-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1rem;
	background-color: white;
}

.slick-dots {
	display: none;
}

.offset-description {
	color: #808080;

	text-align: center;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%;
}

.alternate-product-wrapper {
	width: 100%;
	flex-shrink: 0;
	border-radius: 40px;
	background: #feec9a;
	gap: 1rem;
	padding: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	margin-top: 2rem;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.alternate-product-wrapper .product-card-wrapper {
	background: transparent;
	padding: 0.5rem 2rem;
}

.alternate-product-heading {
	color: #005eee;

	text-align: center;
	font-size: 24.698px;
	font-style: normal;
	font-weight: 900;
	line-height: 120%;

	margin-top: 2rem;
}

.alternate-product-description {
	color: #005eee;

	text-align: center;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%;
}

.alternate-product-wrapper-icon {
	width: 76px;
	height: 76px;
	border-radius: 50%;
	background: #fff;
	position: absolute;
	top: -50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.alternate-product-wrapper-icon:after {
	display: block;
	content: "";
	background: url("../public/assets/light-icon-large.svg") no-repeat;
	width: 44px;
	height: 46px;
}

.product-link {
	text-decoration: underline;
}
.range-input::-webkit-slider-thumb {
	position: relative;
	z-index: 9999;
	height: 100%;
	width: 100%;
	opacity: 0;
}

input[type="range"] {
	-webkit-appearance: none;
	appearance: none;
	background: white;
}
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	background: #3498db; /* Customize the thumb color */
	cursor: pointer;
}

.range-input::after {
	content: "";
	height: 8px;
	position: absolute;
	display: block;
}
.range-input.health::after {
	@apply bg-lightPink;
}
.range-input.wellbeing::after {
	@apply bg-lightPurple;
}
.range-input.smarter::after {
	@apply bg-lightGreen;
}
.range-input.sustainable::after {
	@apply bg-lightYellow;
}
.range-input.community::after {
	@apply bg-lightOrange;
}
.range-input-1::after {
	width: 50%;
	right: 50%;
}
.range-input-2::after {
	width: 25%;
	right: 50%;
}
.range-input-4::after {
	width: 25%;
	left: 50%;
}
.range-input-5::after {
	width: 50%;
	left: 50%;
}
.offset-div-wrapper {
	width: 100%;
	height: 50svh;
}

.slick-dots,
.slick-arrow {
	display: none !important;
}

.slick-slide > div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.foreignObject-1,
.foreignObject-2 {
	transform: translateX(30px);
}
.foreignObject-0 {
	transform: translate(18px, -10px);
}
.app-navigation {
	width: 360px;
	height: 90px;
	flex-shrink: 0;
	border-radius: 56px;
	border: 2px solid rgba(0, 0, 0, 0.15);

	background: #005eee;

	box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.08);
	backdrop-filter: blur(6px);

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	position: fixed;
	bottom: 1%;
	z-index: 9999;
}

.home-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 0.25rem;
}

.home-icon:after {
	display: block;
	content: "";
	background: url("../public/assets/home-icon.svg") no-repeat;
	width: 20px;
	height: 20px;
}

.products-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 0.25rem;
}

.products-icon:after {
	display: block;
	content: "";
	background: url("../public/assets/products-icon.svg") no-repeat;
	width: 20px;
	height: 20px;
}
.scan-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 0.2rem;
}

.scan-icon:after {
	display: block;
	content: "";
	background: url("../public/assets/scan-icon.svg") no-repeat;
	width: 67.368px;
	height: 66px;
}
.scan-button {
	position: relative;
	bottom: 20px;
}
.rewards-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 0.25rem;
}

.rewards-icon:after {
	display: block;
	content: "";
	background: url("../public/assets/rewards-icon.svg") no-repeat;
	width: 20px;
	height: 20px;
}
.profile-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 0.25rem;
}

.profile-icon:after {
	display: block;
	content: "";
	background: url("../public/assets/profile-icon.svg") no-repeat;
	width: 20px;
	height: 20px;
}

.app-navigation-button {
	color: #fff;

	text-align: center;
	font-size: 14px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
}

.alert {
	width: 380px;
	height: 127px;
	border-radius: 19px;
	background: rgba(3, 13, 40, 0.85);

	box-shadow: 0px 7px 30px 0px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(4px);
}

.result-page-wrapper .swap-logo {
	width: 49px;
	height: 19px;
}
.result-page-wrapper .alert {
	padding: 1rem;
	position: sticky;
	top: 10px;
	z-index: 99999999;
}
.result-page-wrapper .alert h2 {
	color: #fff;

	font-size: 15px;
	font-weight: 900;
	line-height: normal;
	letter-spacing: -0.3px;
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
}
.result-page-wrapper .alert h3 {
	color: #fff;
	font-size: 15px;
	font-weight: 100;
	line-height: normal;
	letter-spacing: -0.3px;
}

.search-box-wrapper input {
	width: 100%;
	height: 45px;
	border-radius: 40px;
	border: 1px solid #d9d9d9;
	background: #fff;
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
	color: #005eee;
	font-family: Avenir;
	font-size: 16px;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
	letter-spacing: -0.32px;
	text-align: center;
}

.search-box-wrapper input::placeholder {
	color: #005eee;
	font-family: Avenir;
	font-size: 16px;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
	letter-spacing: -0.32px;
	text-align: center;
}

.search-box-wrapper {
	width: 100%;
}

.product-listing-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	padding: 1rem 1rem 0;
	gap: 1rem;
	width: 100%;
	/* min-height: 190svh; */
}

.search-icon {
	top: 11px;
	left: 10px;
}

.mic-icon {
	top: 11px;
	right: 10px;
}

.mic-icon:after {
	display: block;
	content: "";
	background: url("../public/assets/mic-icon.svg") no-repeat;
	width: 22px;
	height: 24px;
}

.search-icon:after {
	display: block;
	content: "";
	background: url("../public/assets/search-icon.svg") no-repeat;
	width: 22px;
	height: 24px;
}

.filter-icon:after {
	display: block;
	content: "";
	background: url("../public/assets/filter-icon.svg") no-repeat;
	width: 24px;
	height: 24px;
}

.filter-button {
	display: inline-flex;
	padding: 8px 15px;
	align-items: center;
	gap: 5px;
	border-radius: 40px;
	border: 1px solid #fff;
}

.product-listing-wrapper .products-wrapper {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	/* flex-direction: column; */
	gap: 0.625rem 0.625rem;
	width: 100%;
	/* min-height: 193svh; */
}
.product-listing-wrapper .products-wrapper .product-card-wrapper {
	max-width: 48%;
	max-height: 268px;
	min-height: 268px;
}

.product-card-wrapper.font-small .goal-indicator h1 {
	color: #005eee;
	font-size: 10px;
	font-weight: 900;
	line-height: 120%; /* 12px */
	border-radius: 40.27px;
	height: 22px;
	max-width: 171px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.product-card-wrapper.font-small .product-title {
	color: #005eee;
	text-overflow: ellipsis;
	font-size: 12px;
	font-style: normal;
	font-weight: 800;
	line-height: 120%; /* 14.4px */
	width: 143px;
	height: 28px;
	overflow: hidden;
}
.product-card-wrapper.font-small .product-price {
	color: #005eee;
	font-size: 12px;
	font-style: normal;
	font-weight: 900;
	line-height: 120%; /* 14.4px */
}
.product-card-wrapper.font-small .goal-indicator {
	display: flex;
	padding: 0;
	justify-content: center;
	align-items: center;
	gap: 4px;
}
.product-card-wrapper.font-small .top-section {
	top: 15px;
	right: 15px;
	width: auto;
}
.product-card-wrapper.font-small {
	border-radius: 12px;
	display: flex;
	padding: 16px;
	flex-direction: column;
	/* align-items: center; */
	gap: 20px;
}

.product-card-wrapper.font-small .top-section .heart-icon {
	width: 16px;
	height: 16px;
	background: url("../public/assets/heart-icon-small.svg") no-repeat;
}
.product-card-wrapper.font-small .top-section .heart-icon.active {
	width: 16px;
	height: 16px;
	background: url("../public/assets/heart-icon-small-active.svg") no-repeat;
}
.product-card-wrapper.font-small .bottom-section {
	gap: 0.5rem;
}

.slick-slide > div {
	/* width: 340px !important; */
	/* margin-right: -40px; */
}

.custom-slider {
	position: relative;
}

.custom-slider .slick-slide {
	display: flex !important;
}

.custom-slider .slick-slide > div {
	margin: 0 10px !important; /* Adjust the margin as needed */
	flex: 0 0 calc(50% - 10px) !important; /* 50% width with some margin */
	transform-origin: center !important;
	transform: scale(1) !important;
	transition: transform 0.5s !important;
}

.custom-slider .slick-slide.slick-current + .slick-slide > div {
	transform: scale(
		1.4,
		1
	) !important; /* The next slide is 1.2 times the width */
}
